/***********************************
 **             lists             **
 ***********************************/

 ul {
	margin: 1rem 0;
	li {
		border-bottom: 0.1rem solid @shadow;
		padding: 0.5rem;
	}
}

dl {
	margin: 1rem 0;
	dt {
		font-family: @type-title;
		font-size: 2rem;
		font-weight: 200;
	}
	dd {
		padding-bottom: 2rem;
		vertical-align: baseline;
		&:last-child {
			padding-bottom: 0;
		}
	}
}
