/***********************************
 **          playground           **
 ***********************************/

 .heart {
	color: @causely-salmon;
}

.soupcans {
	background-color: yellow;
	color: magenta;
	font-family: "Comic Sans MS";
}
